<svelte:options tag="svelte-edit-activity-container" />

<script lang="ts">
  async function saveActivity() {
    try {
      console.log("NOT IMPLEMENTED, YET: saving an edited activity.");
    } catch (error) {
      console.error(error);
    }
  }
</script>

<p>Editing...</p>
<div class="columns">
  <div class="column is-4 is-offset-4">
    <form action="/edit" method="POST" enctype="multipart/form-data">
      <div class="field">
        <label for="title" class="label">Title</label>
        <div class="control">
          <input
            name="title"
            class="input"
            type="text"
            placeholder="Catchy title"
          />
        </div>
        <p class="help">
          Be nice and be memorable, that is here the challenge.
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button on:click={saveActivity} class="button is-primary">Save</button
          >
        </p>
      </div>
    </form>
  </div>
</div>
