<script lang="ts">
  let files;
  async function upload() {
    console.log("Uploading " + files[0].name + "...");
    try {
      const formData = new FormData();
      formData.append("uploadFile", files[0]);
      const upload = await fetch("/upload", { method: "POST", body: formData });
      console.log(upload.json());
    } catch (error) {
      console.error(error);
    }
  }
</script>

<input class="button" type="file" name="uploadFile" bind:files />

{#if files !== undefined && files[0]}
  <button on:click={upload} class="button is-primary">Upload</button>
{:else}
  <button on:click={upload} class="button" disabled>Upload</button>
{/if}
